[submodule "moi"]
	path = moi
	url = https://github.com/ytti/seitti-app
[submodule "production"]
	path = production
	url = https://github.com/ytti/seitti-app
[submodule "development"]
	path = development
	url = https://github.com/ytti/seitti-app
